@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');
@import 'var.scss';


.header {
    background: url(../img/bgdark.svg), url(../img/bgimage.svg) 0 0/cover no-repeat;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 116px;
}

.subcontainer {
    max-width: $basic-width;
    margin: 0 auto;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    .separator {
        border: 0.5px solid #BABBC5
    }
}

.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__btn {
        text-align: center;
        text-decoration: none;
        width: 134px;
        height: 100%;
        color: #fff;
        font-size: $h6-size;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 100px;
        transition: all 0.2s ease;

        &:hover {
            border-bottom: 3px solid #BABBC5;
        }

        &:active {
            color: #E71414;
            border-bottom: 3px solid #E71414;
        }
    }

    .menu__burger {
        display: none;
    }
}

.header__section {
    padding: 130px 0 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header__title {
        font-size: $h1-size;
        font-weight: 900;
        text-align: center;
        line-height: 75.14px;
        margin-bottom: 31.43px;
        text-transform: uppercase;
    }

    .header__description {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        line-height: 28.18px;
        margin-bottom: 82px;
    }

    .header__button {
        background-color: #FF4343;
        color: #fff;
        width: $button-width;
        font-weight: 900;
        font-family: 'Raleway', sans-serif;
        height: 77.58px;
        font-size: 24px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #E71414;
        }

        &:active {
            background-color: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        }
    }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media screen and (max-width:1200px) {
    $basic-width: 984px;
    $button-width: 314px;
    $image-width: 378px;
    $person-article-width: 270px;
    $h1-size: 48px;
    $h2-size: 36px;
    $h3-size: 30px;
    $h4-size: 24px;
    $h5-size: 18px;
    $h6-size: 12px;

    .header {
        margin-bottom: 78px;
        background: url(../img/bgdark.svg), url(../img/bgsmall.svg) 0 0/cover no-repeat;
    }

    .subcontainer {
        max-width: $basic-width;
    }
}

.menu {
    .menu__btn {
        width: 112px;
        font-size: $h6-size;
    }
}

.header__section {
    padding: 157px 0 126px 0;

    .header__title {
        font-size: $h1-size;
        line-height: 56.35px;
        margin-bottom: 61.86px;
    }

    .header__description {
        font-size: $h5-size;
        line-height: 21.13px;
        margin-bottom: 91px;
    }

    .header__button {
        width: $button-width;
        height: 80px;
    }
}


// !!!tablet done!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media screen and (max-width:767.99px) {
    $basic-width: 280px;
    $button-width: 280px;
    // $image-width: 378px;
    $person-article-width: 280px;
    $h1-size: 36px;
    $h2-size: 24px;
    $h3-size: 18px;
    $h4-size: 18px;
    $h5-size: 14px;
    $h6-size: 12px;

    .header {
        margin-bottom: 78px;
        background: url(../img/bgdark.svg), url(../img/bgsmall.svg) 0 0/cover no-repeat;
    }

    .subcontainer {
        max-width: $basic-width;

        .separator {
            display: none;
        }
    }

    .menu {
        .menu__btn {
            display: none;
        }
        .menu__burger {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 18px;
            width: 24px;
            margin-right: 15px;
            transition: all 0.2s ease;
            &:active {
                transform: rotate(-30deg);
            }
            .menu__stripe {
                border: 1px solid #fff;
                width: 100%;
                background: #fff;
            }
        }
    }

    .header__section {
        padding: 70px 0 52px 0;

        .header__title {
            font-size: $h1-size;
            line-height: 42.26px;
            margin-bottom: 32px;
        }

        .header__description {
            font-size: $h5-size;
            line-height: 21.13px;
            margin-bottom: 51px;
        }

        .header__button {
            width: $button-width;
            height: 60px;
        }
    }
}