@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
.header {
  background: url(../img/bgdark.svg), url(../img/bgimage.svg) 0 0/cover no-repeat;
  color: #fff;
  font-family: "Raleway", sans-serif;
  margin-bottom: 116px;
}

.subcontainer {
  max-width: 1170px;
  margin: 0 auto;
}
.subcontainer .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.subcontainer .separator {
  border: 0.5px solid #BABBC5;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__btn {
  text-align: center;
  text-decoration: none;
  width: 134px;
  height: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 100px;
  transition: all 0.2s ease;
}
.menu .menu__btn:hover {
  border-bottom: 3px solid #BABBC5;
}
.menu .menu__btn:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
}
.menu .menu__burger {
  display: none;
}

.header__section {
  padding: 130px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__section .header__title {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  line-height: 75.14px;
  margin-bottom: 31.43px;
  text-transform: uppercase;
}
.header__section .header__description {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 28.18px;
  margin-bottom: 82px;
}
.header__section .header__button {
  background-color: #FF4343;
  color: #fff;
  width: 370px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  height: 77.58px;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__section .header__button:hover {
  background-color: #E71414;
}
.header__section .header__button:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}

@media screen and (max-width: 1199.99px) {
  .header {
    margin-bottom: 78px;
    background: url(../img/bgdark.svg), url(../img/bgsmall.svg) 0 0/cover no-repeat;
  }
  .subcontainer {
    max-width: 984px;
  }
}
.menu .menu__btn {
  width: 112px;
  font-size: 12px;
}

.header__section {
  padding: 157px 0 126px 0;
}
.header__section .header__title {
  font-size: 48px;
  line-height: 56.35px;
  margin-bottom: 61.86px;
}
.header__section .header__description {
  line-height: 21.13px;
  margin-bottom: 91px;
  font-size: 18px;
}
.header__section .header__button {
  width: 314px;
  height: 80px;
}

@media screen and (max-width: 767.99px) {
  .header {
    margin-bottom: 78px;
    background: url(../img/bgdark.svg), url(../img/bgsmall.svg) 0 0/cover no-repeat;
  }
  .subcontainer {
    max-width: 280px;
  }
  .subcontainer .separator {
    display: none;
  }
  .menu .menu__btn {
    display: none;
  }
  .menu .menu__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    width: 24px;
    margin-right: 15px;
    transition: all 0.2s ease;
  }
  .menu .menu__burger:active {
    transform: rotate(-30deg);
  }
  .menu .menu__burger .menu__stripe {
    border: 1px solid #fff;
    width: 100%;
    background: #fff;
  }
  .header__section {
    padding: 70px 0 52px 0;
  }
  .header__section .header__title {
    font-size: 36px;
    line-height: 42.26px;
    margin-bottom: 32px;
  }
  .header__section .header__description {
    font-size: 14px;
    line-height: 21.13px;
    margin-bottom: 51px;
  }
  .header__section .header__button {
    width: 280px;
    height: 60px;
  }
}/*# sourceMappingURL=header.css.map */