.testimonials-container {
  padding-bottom: 114px;
  font-family: "Raleway", sans-serif;
}
.testimonials-container .subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-container .subcontainer .testimonials-container__start {
  font-size: 30px;
  margin-bottom: 5px;
  text-transform: capitalize;
  height: 70px;
  line-height: 70px;
  font-weight: 500;
}
.testimonials-container .subcontainer .testimonials-container__caption {
  text-transform: uppercase;
  margin-bottom: 50px;
}
.testimonials-container .subcontainer .testimonials-container__download-button {
  width: 370px;
  height: 78px;
  background-color: #FF4343;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s ease;
}
.testimonials-container .subcontainer .testimonials-container__download-button:hover {
  background-color: #E71414;
}
.testimonials-container .subcontainer .testimonials-container__download-button:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}
.testimonials-container .testimonials-subcontainer__work {
  display: flex;
  background-color: #5C3249;
  align-items: center;
}
.testimonials-container .testimonials-subcontainer__right-side {
  max-width: 471px;
  color: #fff;
  margin-left: 129px;
}
.testimonials-container .testimonials-subcontainer__title {
  font-family: "Cardo", serif;
  font-style: italic;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
}
.testimonials-container .testimonials-subcontainer__name {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 30px;
}
.testimonials-container .testimonials-subcontainer__slider {
  display: flex;
  justify-content: space-between;
  max-width: 156px;
  margin: 31px auto 114px;
}
.testimonials-container .testimonials-subcontainer__button {
  border-radius: 50%;
  border: 1px solid #7E5D6F;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.testimonials-container .testimonials-subcontainer__button:hover {
  background: #7E5D6F;
}

@media screen and (max-width: 1199.99px) {
  .testimonials-container {
    padding-bottom: 78px;
  }
  .testimonials-container .subcontainer .testimonials-container__start {
    font-size: 24px;
    margin-bottom: 5px;
    height: 60px;
    line-height: 60px;
  }
  .testimonials-container .subcontainer .testimonials-container__caption {
    margin-bottom: 45px;
    font-size: 14px;
  }
  .testimonials-container .subcontainer .testimonials-container__download-button {
    width: 314px;
    font-size: 18px;
  }
  .testimonials-container .testimonials-subcontainer img {
    width: 502px;
  }
  .testimonials-container .testimonials-subcontainer__right-side {
    max-width: 330px;
    margin-left: 88px;
  }
  .testimonials-container .testimonials-subcontainer__title {
    font-size: 24px;
    line-height: 32.5px;
  }
  .testimonials-container .testimonials-subcontainer__name {
    font-size: 12px;
    margin-top: 30px;
  }
  .testimonials-container .testimonials-subcontainer__slider {
    max-width: 156px;
    margin: 24px auto 77px;
  }
  .testimonials-container .testimonials-subcontainer__button {
    width: 9px;
    height: 9px;
  }
}
@media screen and (max-width: 767.99px) {
  .testimonials-container {
    padding-bottom: 45px;
  }
  .testimonials-container .subcontainer .testimonials-container__start {
    font-size: 18px;
    margin-bottom: 3px;
    height: 80px;
    line-height: 21.13px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .testimonials-container .subcontainer .testimonials-container__caption {
    margin-bottom: 13px;
    font-size: 13px;
    text-align: center;
  }
  .testimonials-container .subcontainer .testimonials-container__download-button {
    width: 280px;
    font-size: 18px;
  }
  .testimonials-container .testimonials-subcontainer__work {
    flex-direction: column;
    align-items: center;
  }
  .testimonials-container .testimonials-subcontainer img {
    width: 100%;
  }
  .testimonials-container .testimonials-subcontainer__right-side {
    margin-left: 0;
  }
  .testimonials-container .testimonials-subcontainer__title {
    font-size: 24px;
    line-height: 32.5px;
    text-align: center;
    height: 206px;
    display: flex;
    align-items: center;
  }
  .testimonials-container .testimonials-subcontainer__name {
    font-size: 12px;
    margin: 0 0 95px;
    text-align: center;
  }
  .testimonials-container .testimonials-subcontainer__slider {
    max-width: 156px;
    margin: 23px auto 34px;
  }
  .testimonials-container .testimonials-subcontainer__button {
    width: 9px;
    height: 9px;
  }
}/*# sourceMappingURL=testimonials.css.map */