$basic-width: 1170px;
$button-width: 370px;
$image-width: 378px;
$person-article-width: 270px;
$h1-size: 64px;
$h2-size: 36px;
$h3-size: 30px;
$h4-size: 24px;
$h5-size: 18px;
$h6-size: 13px;

@media screen and (max-width:1199.99px) {
    $basic-width: 984px;
    $button-width: 314px;
    $image-width: 378px;
    $person-article-width: 227px;
    $h1-size: 48px;
    $h2-size: 36px;
    $h3-size: 30px;
    $h4-size: 24px;
    $h5-size: 18px;
    $h6-size: 12px;
}

@media screen and (max-width:767.99px) {
    $basic-width: 280px;
    $button-width: 280px;
    // $image-width: 378px;
    $person-article-width: 280px;
    $h1-size: 36px;
    $h2-size: 24px;
    $h3-size: 18px;
    $h4-size: 18px;
    $h5-size: 14px;
    $h6-size: 12px;

}