.awesome_subcontainer {
    width: 1170px;
    margin: calc(100vh / 2 - 665px / 2) auto 0;
    font-family: Raleway, sans-serif;
    padding-bottom: 58px;
}

.awesome_container h2 {
    text-align: center;
    line-height: 150px;
    height: 150px;
    font-size: 36px;
    margin: 50px 0 0;
    font-weight: 400;
    text-transform: uppercase;
}

.awesome_container__description--grey {
    color: #86878B;
    text-align: center;
    margin-bottom: 71px;
    font-size: 18px;
    font-weight: 400;
}

.awesome_container__content {
    display: flex;
    justify-content: space-between;
}

.awesome_container article {
    width: 370px;
}

.awesome_container__image {
    display: block;
    margin: 0 auto;
}

.awesome_container__article_title {
    font-family: Open Sans, sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 100px;
    font-weight: 700;
}

.awesome_container__description {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}