.awesome_container {
    width: 1170px;
    margin: 0 169px 58px 171px;
    font-family: Raleway, sans-serif;
}

.awesome_container__title {
    text-align: center;
    line-height: 150px;
    height: 150px;
    font-size: 36px;
    margin: 50px 0 0 0;
    font-weight: 400;
}

.awesome_container__description--grey {
    color: #86878B;
    text-align: center;
    margin-bottom: 71px;
    font-size: 18px;
    font-weight: 400;
}

.awesome_container__content {
    display: flex;
    justify-content: space-between;
}

.awesome_container__item {
    width: 370px;
}

.awesome_container__image {
    display: block;
    margin: 0 auto;
}

.awesome_container__article_title {
    font-family: Open Sans, sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 100px;
    font-weight: 700;
}

.awesome_container__description {
    color: #000;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}