@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.awesome_container {
    width: 1170px;
    margin: 0 169px 58px 171px;
    font-family: Raleway, sans-serif;
}

.awesome_container__title {
    text-align: center;
    line-height: 150px;
    height: 150px;
    font-size: 36px;
    margin: 50px 0 0 0;
    font-weight: 400;
}

.awesome_container__separation {
    border: 0.5px solid#EC7979;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.awesome_container__description--grey {
    color: #86878B;
    text-align: center;
    margin-bottom: 71px;
    font-size: 18px;
    font-weight: 400;
}

.awesome_container__item {
    display: inline-block;
    width: 370px;
    height: 383px;
    margin-right: -5px;
}

.awesome_container__item:nth-child(2) {
    margin: 0 30px 0;
}

.awesome_container__image {
    display: block;
    margin: 0 auto;
}

.awesome_container__article_title {
    font-family: Open Sans, sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 100px;
    font-weight: 700;
}

.awesome_container__description {
    color: #000;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}