:root {
    --separator-size: 170px;
    --h1-size: 48px;
    --h2-size: 36px;
    --h3-size: 30px;
    --h4-size: 24px;
    --h5-size: 18px;
    --primary-width: 1170px;
}

.banner-container {
    font-family: 'Open Sans', sans-serif;
    background: url(../img/bg.png), url(../img/bgimage.png);
    background-position: bottom;
    background-size: cover;
    padding: 208px 0 185px;
    display: flex;
    justify-content: center;
}

.banner-subcontainer {
    /* width: calc(470px + 30px + 670px); */
    max-width: var(--primary-width);
    display: flex;
    justify-content: space-between;
}

.banner-subcontainer__left-side img {
    margin: 23px 0 72.88px;
}

.banner-subcontainer__left-side h1 {
    /* font-size: 48px; */
    font-size: var(--h1-size);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    line-height: 56.35px;
    color: #fff;
    max-width: 670px;
    font-weight: 500;
    margin-bottom: 55.12px;
}

.separator_left {
    margin: 0 0 42px;
    border-color:#fff ;
}

.banner-subcontainer__left-side h5 {
    max-width: 270px;
    color: #fff;
    /* font-size: 18px; */
    font-size: var(--h5-size);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 21.13px;
    margin-bottom: 42px;
}

.banner-subcontainer__left-button {
    border: none;
    width: 270px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    background: none;
    line-height: 58px;
    cursor: pointer;
}

.banner-subcontainer__left-button:hover {
    color: #EC7979;
    border: 2px solid #EC7979;

}

.banner-subcontainer__left-button:active {
    color: #fff;
    border: 2px solid #AB4949;
    background: #AB4949;
}

.banner-subcontainer__right-side {
    background-color: #fff;
    width: 470px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.banner-subcontainer__right-side h4 {
    color: #333;
    /* font-size: 24px; */
    font-size: var(--h4-size);
    font-weight: 700;
    width: 367px;
    height: 90px;
    line-height: 90px;
    margin: 0 50px 45px 53px;
    text-align: center;
    text-transform: uppercase;
}

.banner-subcontainer__right-side span {
    color: #EC7979;
    text-transform: uppercase;
}

.banner-subcontainer__right-side form {
    width: 370px;
    display: flex;
    flex-direction: column;
}

.banner-subcontainer__right-side input {
    width: 370px;
    padding-bottom: 19px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin: 0 auto;
    margin-bottom: 33px;
}

.banner-subcontainer__right-side input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}

.banner-subcontainer__right-button {
    width: 100%;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
    background: #EC7979;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}

.banner-subcontainer__right-button:hover {
    background: #AB4949;
}

.banner-subcontainer__right-button:active {
    background: #EC7979;
    box-shadow: 1px 1px 15px inset #AB4949;
}

@media screen and (min-width:768px) and (max-width:1199.98px) {
    :root {
        --separator-size: 142px;
        --h1-size: 36px;
        --h2-size: 24px;
        --h3-size: 24px;
        --h4-size: 18px;
        --h5-size: 14px;
        --primary-width: 992px;
    }

    .banner-subcontainer {
        padding-left: 54.72px;
    }

    .banner-subcontainer__left-side h1 {
        max-width: 454.36px;
        margin-right: 36.36px;
    }

    .banner-subcontainer__right-side {
        max-width: 398px;
    }

    .banner-subcontainer__right-button {
        width: 100%;
    }

    .banner-container {
        padding: 137.15px 0 106px;
        background: url(../img/bg.png), url(../img/bgimage.png) left bottom no-repeat;
    }

    .banner-subcontainer__left-side h1 {
        margin-bottom: 41.49px;
        line-height: 42.26px;
    }

    .banner-subcontainer__left-side img {
        margin: 23px 0 54.08px;
    }

    .banner-subcontainer__left-side img:first-child {
        width: 69px;
    }

    .banner-subcontainer__left-side img:nth-child(2) {
        width: 42px;
    }

    .banner-subcontainer__right-side input {
        width: 298px;
    }

    .separator_left {
        margin-bottom: 31px;
    }

    .banner-subcontainer__left-side h5 {
        margin-bottom: 31.32px;
    }

    .banner-subcontainer__left-button {
        height: 50px;
        line-height: 50px;
        width: 183.1px;
    }
}
/* !tablet done */

@media screen and (min-width: 318px) and (max-width:767.98px) {
    :root {
        --separator-size: 134px;
        --h1-size: 36px;
        --h2-size: 24px;
        --h3-size: 18px;
        --h4-size: 18px;
        --h5-size: 14px;
        --primary-width: 288px;
    }

    .banner-container {
        padding: 84px 0 50px; ;
    }
    .banner-subcontainer {
        flex-wrap: wrap;
    }
    .banner-subcontainer__right-side {
        width: var(--primary-width);
        height: 381px;
    }
    .banner-subcontainer__right-side input {
        width: 240px;
    }
    .banner-subcontainer__left-side img {
        display: none;
    }
    .banner-subcontainer__left-button {
        margin-bottom: 56px;
        height: 50px;
        line-height: 50px;
    }
    .banner-subcontainer__left-side h1 {
        margin-bottom: 43.88px;
        line-height: 42.26px;
        text-align: center;
    }
    .banner-subcontainer__right-side h4 {
        font-size: 14px;
        width: 240px;
        margin: 0;
    }
    .banner-subcontainer__left-side h5 {
        width: 288px;
        height: 32px;
        line-height: 16.44px;
        text-align: center;
    }
    .separator_left {
        margin: 0 auto 42px;
    }
    .banner-subcontainer__right-side form {
        width: 100%;
    }
    
}
/* !phone done */