.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-subcontainer {
    font-family: 'Open Sans', sans-serif;
    max-width: var(--primary-width);
}

.contact-subcontainer h2 {
    height: 150px;
    line-height: 150px;
    /* font-size: 36px; */
    font-size: var(--h2-size);
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
}

.contact-subcontainer h5 {
    /* font-size: 18px; */
    font-size: var(--h5-size);
    text-align: center;
    font-weight: 400;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 89px;
}

form {
    display: flex;
    max-width: var(--primary-width);
}

.contact-subcontainer input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    height: calc(16px + 19px);
}

.contact-subcontainer input::placeholder,
.contact-subcontainer textarea::placeholder {
    font-size: 14px;
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    /* продублировано потому, что на placeholder не действовало это семейство шрифта, указанное в contact-subcontainer*/
}

.contact-subcontainer__inputs {
    width: 571px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 211px;
}

.contact-subcontainer textarea {
    width: 569px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    height: 211px;
    margin-left: 30px;
    resize: none;
}

.contact-subcontainer button {
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    width: 370px;
    background: #EC7979;
    height: 58px;
    border: none;
    margin: 50px auto;
    display: block;
    font-size: 18px;
    cursor: pointer;
}

.contact-subcontainer button:hover {
    background: #AB4949;
}

.contact-subcontainer button:active {
    background: #EC7979;
    box-shadow:1px 1px 15px inset #AB4949 ;
}

@media screen and (min-width:768px) and (max-width:1023.98px) {
    .contact-subcontainer button {
        width: 318px;
    }
    .contact-container h2 {
        line-height: 120px;
        height: 120px;
    }
    .contact-container h5 {
        margin-bottom: 72px;
    }
    .separator {
        margin-bottom: 32px;
    }
    .contact-subcontainer {
        width: 100%;
    }
}
/* !tablet done */