.design-container {
    background: url(../img/bgdesign.png), url(../img/background.png);
    font-family: 'Raleway', sans-serif;
    padding: 50px 0;
}

.design-subcontainer {
    /* max-width: 1170px; */
    max-width: var(--primary-width);
    margin: 0 auto;
    color: #fff;
}

.design-subcontainer h2 {
    text-transform: uppercase;
    /* font-size: 36px; */
    font-size: var(--h2-size);
    font-weight: 400;
    text-align: center;
    height: 150px;
    line-height: 150px;
}

.separator_white {
    border-color: #fff;
}

.design-subcontainer h5 {
    /* font-size: 18px; */
    font-size: var(--h5-size);
    text-align: center;
    font-weight: 400;
    /* width: 1169px; */
    margin: 0 auto;
}

.design-subcontainer button {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 370px;
    height: 58px;
    margin: 0 auto;
    border: 2px solid #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    /* !font-size: var(--h5-size); */
    font-weight: 600;
    margin-top: 73px;
    background: none;
    cursor: pointer;
}

.design-subcontainer button:hover {
    color: #EC7979;
    border: 2px solid #EC7979;

}

.design-subcontainer button:active {
    color: #fff;
    border: 2px solid #AB4949;
    background: #AB4949;
}

@media screen and (min-width:768px) and (max-width:1199.98px) {
    .design-subcontainer button {
        width: 318px;
        margin-top: 32px;
    }

    .design-subcontainer h2 {
        height: 120px;
        line-height: 120px;
    }

    .design-subcontainer h5 {
        line-height: 16.44px;
    }
}

/* !tablet done */

@media screen and (min-width: 318px) and (max-width:767.98px) {
    .design-subcontainer button {
        width: 287px;
        height: 50px;
        margin-top: 66px;
    }

    .design-subcontainer h2 {
        height: 120px;
        line-height: 120px;
    }

    .design-container {
        padding: 0 0 58px;
        background: url(../img/design-phone.svg), url(../img/design-bg-phone.svg);
    }

    .design-container .separator {
        margin-bottom: 16px;
    }
}

/* !phone done */