
header {
    display: flex;
    background-color: #000;
    justify-content: center;
}

.header-subcontainer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 230.5px);
    /* ширина subcontainer с отступами с двух сторон */
    padding-right: 54.72px;
    /* т.к. отступ справа от элемента "contact" больше- отдельный padding до него */
}

nav {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
}

.logo-container {
    align-self: center;
}

header button {
    height: 75px;
    width: 113.8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: none;
}  

@media screen and (min-width:768px) and (max-width:1023.98px) {
    .header-subcontainer {
        width: 906.72px;
        margin-left: 115.28px;
        margin-right: 20px;
    }

}