header {
    display: flex;
    background-color: #000;
    justify-content: center;
}

.header-subcontainer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 230.5px);
    /* ширина subcontainer с отступами с двух сторон */
    padding-right: 54.72px;
    /* т.к. отступ справа от элемента "contact" больше- отдельный padding до него */
}

.header-subcontainer nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.logo-container {
    align-self: center;
}

header button {
    height: 75px;
    width: 113.8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: none;
}

.menu-box {
    display: none;
}

@media screen and (min-width:768px) and (max-width:1199.98px) {
    .header-subcontainer {
        width: 906.72px;
        margin-left: 115.28px;
        margin-right: 20px;
    }

}

/* !tablet  */

@media screen and (min-width: 318px) and (max-width:767.98px) {
    .header-subcontainer {
        width: 280px;
        height: 56px;
        padding-right: 0;
    }

    header button {
        display: none;
    }

    .menu-box {
        display: block;
        width: 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 19px 0;
        margin-left: 150px;
    }

    .menu-box div {
        width: 24px;
        border: 0.5px solid #fff;
    }
}
/* !phone done  */