.pricing-container {
    font-family: 'Raleway', sans-serif;
    background: #F5F5F5;
    padding: 50px 0;
}

.pricing-container__title {
    height: 150px;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
}

.separator {
    width: 170px;
    border: 0.5px solid #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}

.container-description {
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
    text-align: center;
    margin: 40px 0 59px;
}

.pricing-container__sections {
    display: flex;
    height: 530px;
    width: calc(370px * 3 + 30px * 2);
    justify-content: space-between;
    margin: 0 auto;
}

.pricing-container__price-info {
    width: 370px;
    border: 2px solid #f5f5f5;
}

.pricing-container__plan {
    background: #333;
    height: 60px;
    font-size: 24px;
    color: #f5f5f5;
    line-height: 60px;
    text-align: center;
    border-bottom: 2px solid #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

.pricing-container__price {
    font-size: 36px;
    line-height: 100px;
    height: 100px;
    text-align: center;
    background: #333;
    border-bottom: 2px solid #f5f5f5;
    color: #f5f5f5;
}

.pricing-container__price-info h5 {
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #f5f5f5;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    color: #86878B;
    background: #FFF;
    text-transform: capitalize;
}

.pricing-container__price-info h5:first-of-type{
    background: #333;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
}

.pricing-container__price-info {
    align-self: flex-end;
    transition: all 0.5s ease;
}

.pricing-container__price-info:hover {
    transform: translateY(-20px);
    box-shadow: 0px 4px 10px 0px #333;
}