.social-media-container {
    background: #F8EFEF;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 140px;
}

.social-media-subcontainer {
    /* max-width: 1170px; */
    max-width: var(--primary-width);
    display: flex;
    justify-content: space-between;
}

.social-media-container__description {
    max-width: 470px;
}

.social-media-container__description h4{
    font-weight: 700;
    /* font-size: 24px; */
    font-size: var(--h4-size);
    height: 60px;
    line-height: 60px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 18px;
}

.social-media-container__description h5 {
    font-family: 'Raleway', sans-serif;
    /* font-size: 18px; */
    font-size: var(--h5-size);
    font-weight: 400;
    color: #86878B;
    line-height: 21.13px;
}

.social-media-container__icons {
    width: calc(6 * 35px + 70px * 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    
}

.social-media-container__icons img {
    width: 70px;
    /* !увеличивает картинки под нужный размер */
}

@media screen and (min-width:768px) and (max-width:1023.98px) {
    .social-media-container{
        height: 104px;
    }
    .social-media-container__icons img {
        width: 64px;
    }
    .social-media-container__description {
        max-width: 402px;
    }

    .social-media-container__description h5 {
        height: 32px;
    }
    .social-media-container__description h4 {
        margin-bottom: 13px;
        height: 45px;
        line-height: 45px;
    }
    .social-media-container__icons {
        width: calc(6 * 13.33 + 64px * 7);
        margin-left: 20px;
    }

}
/* !tablet done */