@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.tabs-subcontainer {
    width: 1170px;
    margin: calc(100vh / 2 - 540px / 2) auto 0;
    font-family: 'Open Sans', sans-serif;
}

.tabs-list {
    display: flex;
}

.tabs-list__tabs {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.tabs-list__tabs_first {
    width: 201px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}

.tabs-list__tabs_twins {
    width: 184px;
    border-bottom: 1px solid #C6CBCD;
}

.tabs-list__tabs_empty {
    width: 600px;
    border-bottom: 1px solid #C6CBCD;
}

.open-tab {
    border: 1px solid #C6CBCD;
    width: 1170px;
    border-top: none;
    display: flex;
}

.open-tab__left-side {
    width: 570px;
    margin: 0 30px 0 100px;
}

.open-tab__title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 27px;
    height: 124px;
    line-height: 124px;
}

.open-tab__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    margin-bottom: 27px;
    font-family: 'Raleway', sans-serif;
}

.open-tab__btn {
    width: 270px;
    height: 58px;
    background: #EC7979;
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.open-tab__btn:hover {
    background: #AB4949;
}

.open-tab__btn:active {
    background: #EC7979;
    box-shadow:1px 1px 15px inset #AB4949 ;
}
