@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.tabs-container {
    padding-top: 50px;
}

.tabs-subcontainer {
    max-width: var(--primary-width);
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.tabs-list {
    display: flex;
}

.tabs-list__tabs {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.tabs-list__tabs_first {
    width: 201px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}

.tabs-list__tabs_twins {
    width: 184px;
    border-bottom: 1px solid #C6CBCD;
}

.tabs-list__tabs_empty {
    width: 600px;
    border-bottom: 1px solid #C6CBCD;
}

.open-tab {
    border: 1px solid #C6CBCD;
    max-width: var(--primary-width);
    border-top: none;
    display: flex;
    justify-content: space-between;
}

.open-tab__left-side {
    max-width: 570px;
    margin: 0 30px 0 100px;
}

.open-tab__title {
    /* font-size: 30px; */
    font-size: var(--h3-size);
    font-weight: 700;
    margin: 0 0 27px;
    height: 124px;
    line-height: 124px;
}

.open-tab__desc {
    font-weight: 400;
    /* font-size: 18px; */
    font-size: var(--h5-size);
    line-height: 21.13px;
    margin-bottom: 27px;
    font-family: 'Raleway', sans-serif;
}

.open-tab__btn {
    width: 270px;
    height: 58px;
    background: #EC7979;
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.open-tab__btn:hover {
    background: #AB4949;
}

.open-tab__btn:active {
    background: #EC7979;
    box-shadow: 1px 1px 15px inset #AB4949;
}


@media screen and (min-width:768px) and (max-width:1199.98px) {
    .open-tab img {
        width: 392.21px;
        height: 385px;
    }

    .tabs-subcontainer {
        margin-top: 50px;
    }

    .open-tab__title {
        height: 89px;
        line-height: 32.68px;
        /* чтобы при дальнейшем сжимании экрана строка не переносилась слишком далеко из-за большого line-height */
        margin-bottom: 38px;
        padding-top: 38px;
    }

    .open-tab__desc {
        line-height: 16.44px;
        height: 112px;
        margin-bottom: 38px;
    }

    .open-tab__btn {
        width: 231.87px;
    }

    .open-tab__left-side {
        max-width: 482.89px;
        margin: 0 26.21px 0 84.68px;
    }

    .tabs-list__tabs_first {
        width: 170.12px;
    }

    .tabs-list__tabs_twins {
        width: 156.01px;
    }

    .tabs-list__tabs_empty {
        width: 508.72px;
    }
}

/* !tablet done */

@media screen and (min-width: 318px) and (max-width:767.98px) {
    .open-tab img {
        display: none;
    }

    .tabs-list__tabs_empty {
        display: none;
    }

    .open-tab__title {
        width: 242.74px;
        height: 112px;
        line-height: 24.51px;
        text-align: center;
        margin: 0 0 29px;
        display: flex;
        align-items: center;
    }

    .open-tab__btn {
        width: 242.75px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .open-tab__desc {
        width: 242.74px;
        line-height: 15.26px;
        margin: 0 0 29px;
        /* обнуляет отступы и добавляет один вниз */
        text-align: center;
    }

    .open-tab__left-side {
        margin: 0;
    }

    .open-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tabs-container {
        padding: 0;
    }
}
/* !phone done */